/* Estilos generales */
body {
    font-family: 'Sunday Pizza';
    font-weight: bold;
    margin: 20px;
    padding: 0;
    background: linear-gradient(to right, #FFEADB, #D4A16A); /* Degradado en el fondo principal */
    color: #637373;
}

header {
    font-family: 'Florensa Demo';
    font-weight: bold;
    background: linear-gradient(to right, #FF9A76, #FF6B4D); /* Degradado en el encabezado */
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
}
header h1 {
    font-size: 40px; /* Ajusta el valor */
}

/* Estilos para la sección de inicio */
#inicio {
    text-align: left;
    margin-top: 2cm;
}

/* Estilos para la frase de inicio */
.frase-inicio {
    font-size: 30px; /* Ajusta el tamaño de la letra */
}

#quienessomos p {
    font-size: 20px; /* Ajusta el valor */
}

#productos p {
    font-size: 24px; /* Ajusta el valor */
}



/* Estilos para la imagen principal */
.imagen-principal img {
    max-width: auto; /* Ajusta el ancho máximo de la imagen */
    height: auto;
    border: 5px solid #FFFFFF;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    margin: 20px auto; /* Centra la imagen con margen automático */
}

/* Estilos para la galería de imágenes */
.galeria {
    display: flex;
    flex-wrap: wrap;
}

.fila {
    flex: 1;
}

.columna {
    flex: 1;
    margin: 5px;
}

img {
    max-width: 100%;
    height: auto;
}
nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #FFFFFF;
    padding: 10px 20px;
    background: linear-gradient(to right, #679B9B, #4C7F7F); /* Degradado en los botones y elementos de resaltado */
    border: none;
    border-radius: 20px;
    cursor: pointer;
}

/* Estilos para los productos */
.categoria {
    margin-bottom: 20px;
    position: relative;
}

.categoria-titulo {
    background: linear-gradient(to right, #679B9B, #4C7F7F); /* Degradado en los botones y elementos de resaltado */
    color: #FFFFFF;
    cursor: pointer;
    padding: 10px;
    position: relative;
    z-index: 1;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background 0.3s, transform 0.2s, box-shadow 0.3s;
}

/* Efecto de hover para resaltar el botón */
.categoria-titulo:hover {
    background: linear-gradient(to right, #8C6239, #6D492F); /* Degradado más oscuro al hacer hover */
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

/* Estilos para los botones de submenús */
.subcategoria {
    background: linear-gradient(to right, #679B9B, #4C7F7F); /* Degradado en los botones y elementos de resaltado */
    color: #FFFFFF;
    cursor: pointer;
    padding: 10px;
    position: relative;
    z-index: 1;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background 0.3s, transform 0.2s, box-shadow 0.3s;
    margin-top: 10px;
}

/* Establece un tamaño fijo para las imágenes en la lista de productos */
.producto-lista img {
    width: 200px; /* Ajusta el valor de acuerdo a mis preferencias */
    height: auto; /* Mantiene la proporción de aspecto original */
    background: none; /* Sin degradado en la imagen de los productos */
}

.producto-lista,
.submenu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    position: relative;
    top: 100%;
    left: 0;
    z-index: 0;
}

.categoria-titulo::after,
.subcategoria h4::after {
    content: '\25B6';
    float: right;
}

.categoria-titulo.open::after,
.subcategoria h4.open::after {
    content: '\25E2';
}

/* Estilos para el mapa */
#map {
    height: 300px;
    width: 100%;
}
/* Estilos para los títulos decorados */
h2 {
    position: relative;
    display: inline-block;
    padding: 5px 15px;
    background: linear-gradient(to right, #FF9A76, #FF6B4D); /* Degradado en los títulos decorados */
    color: #FFFFFF;
    border-radius: 20px;
    margin: 10px 0;
}
/* Estilos para la galería de imágenes */
.galeria {
    display: flex;
    flex-wrap: wrap;
}

.fila {
    flex: 1;
}

.columna {
    flex: 1;
    margin: 5px;
}

img {
    max-width: 100%;
    height: auto;
}
/* Estilos para la galería */
.submenu.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Cuatro columnas */
    gap: 20px; /* Espacio entre elementos */
    list-style: none;
    padding: 0;
    margin: 0;
}

.submenu.gallery li {
    text-align: center;
}

.submenu.gallery img {
    max-width: 100%;
    height: auto;
    background: none; /* Sin degradado en las imágenes de la galería */
}
