/* Estilos generales */
body {
    font-family: 'Bakemono-Stereo-Bold', Arial, sans-serif;
    font-weight: bold;
    margin: 20px;
    padding: 0;
    background-color: #FFEADB;
    color: #637373;
}

header {
    font-family: 'Nordic Alternative Regular', Arial, sans-serif;
    font-weight: bold;
    background-color: #FF9A76;
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #679B9B;
}

/* Estilos para los productos */
.categoria {
    margin-bottom: 20px;
    position: relative;
}

.categoria-titulo {
    background-color: #679B9B;
    color: #FFFFFF;
    cursor: pointer;
    padding: 10px;
    position: relative;
    z-index: 1;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
}

/* Efecto de hover para resaltar el botón */
.categoria-titulo:hover {
    background-color: #e8ae96;
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

/* Estilos para los botones de submenús */
.subcategoria {
    background-color: #679B9B;
    color: #FFFFFF;
    cursor: pointer;
    padding: 10px;
    position: relative;
    z-index: 1;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
    margin-top: 10px;
}

/* Efecto de hover para resaltar el botón */
.subcategoria:hover {
    background-color: #e8ae96;
    transform: translateY(-2px);
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

/* Establece un tamaño fijo para las imágenes en la lista de productos */
.producto-lista img {
    width: 200px; /* Ajusta el valor de acuerdo a mis preferencias */
    height: auto; /* Mantiene la proporción de aspecto original */
}

.producto-lista,
.submenu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    position: relative;
    top: 100%;
    left: 0;
    z-index: 0;
}

.categoria-titulo::after,
.subcategoria h4::after {
    content: '\25B6';
    float: right;
}

.categoria-titulo.open::after,
.subcategoria h4.open::after {
    content: '\25E2';
}

/* Estilos para el mapa */
#map {
    height: 300px;
    width: 100%;
}

/* Estilos para el formulario de contacto (todavia hay que revisarlo) */
form {
    max-width: 400px;
    margin: 0 auto;
    text-align: left;
}

form label,
form input,
form textarea {
    display: block;
    margin-bottom: 10px;
}
.info-container {
    display: flex;
    flex-direction: column;
}

.map-container {
    margin-bottom: 10px; /* Espacio entre el mapa y el formulario de contacto */
}

.contact-form {
    width: 50%; /* Ajusta el ancho del formulario según tus preferencias */
}
/* Estilos para los títulos decorados */
h2 {
    position: relative;
    display: inline-block;
    padding: 5px 15px;
    background-color: #FF9A76;
    color: #FFFFFF;
    border-radius: 20px;
    margin: 10px 0;
}
/* Estilos para la galería de imágenes */
.galeria {
    display: flex;
    flex-wrap: wrap;
}

.fila {
    flex: 1;
}

.columna {
    flex: 1;
    margin: 5px;
}

img {
    max-width: 100%;
    height: auto;
}
