/* Estilos generales */
body {
    font-family: 'Bakemono-Stereo-Bold', Arial, sans-serif;
    font-weight: bold;
    margin: 20px;
    padding: 0;
    background-color: #FFEADB;
    color: #637373;
}

header {
    font-family: 'Nordic Alternative Regular', Arial, sans-serif;
    font-weight: bold;
    background-color: #FF9A76;
    color: #FFFFFF;
    text-align: center;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #679B9B;
}

/* Estilos para los productos */
.categoria {
    margin-bottom: 20px;
    position: relative;
}

.categoria-titulo {
    background-color: #679B9B; /* Cambio de color de fondo */
    color: #FFFFFF;
    cursor: pointer;
    padding: 10px;
    position: relative;
    z-index: 1;
    border-radius: 20px; /* Hace que el botón sea redondeado */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
}

/* Efecto de hover para resaltar el botón */
.categoria-titulo:hover {
    background-color: #e8ae96; /* Cambia el color de fondo al pasar el cursor */
    transform: translateY(-2px); /* Eleva ligeramente el botón */
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Sombra más pronunciada al pasar el cursor */
}

.producto-lista,
.submenu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
    position: relative; /* Cambiado de "absolute" a "relative" */
    top: 100%;
    left: 0;
    z-index: 0;
}

.categoria-titulo::after,
.subcategoria h4::after {
    content: '\25B6';
    float: right;
}

.categoria-titulo.open::after,
.subcategoria h4.open::after {
    content: '\25E2';
}

/* Estilos para el mapa */
#map {
    height: 300px;
    width: 100%;
}

/* Estilos para el formulario de contacto */
form {
    max-width: 400px;
    margin: 0 auto;
    text-align: left; /* Alinea el formulario a la izquierda */
}

form label,
form input,
form textarea {
    display: block;
    margin-bottom: 10px;
}

/* Estilos para la galería de imágenes en la sección "Inicio" */
.galeria {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px;
}

.galeria .imagen-container {
    border: 2px solid #679B9B;
    border-radius: 8px;
    overflow: hidden;
    max-width: 300px;
    position: relative;
}

.galeria img {
    width: 50%; /* Reduce el tamaño de las imágenes a la mitad */
    height: auto;
}
